.search-results {
    padding: 20px;
}

.search-result-item {
    margin-bottom: 20px;
}

.search-result-images {
    display: flex;
    gap: 10px;
}

.search-result-image {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}
